:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--primary-color: #0a1f44;
	--secondary-color: #102a66;
	--background-color: #0d1b30;
	--text-color: #e0e6ed;
	--accent-color: #2c6db2;
	color: var(--text-color);
	background-color: #0d1b30;
	-webkit-font-smoothing: antialiased;
}

.todo-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* 4 columns on desktop */
	gap: 16px;
	padding: 16px;
	justify-content: center;
}

.todo-card {
	background-color: #000000;
	color: white;
	border-radius: 8px;
	padding: 16px;
	flex: 1;
	min-width: 220px;
	max-width: 300px;
}

.todo-card h3 {
	text-align: center;
	margin-bottom: 16px;
	justify-items: center;
}

.todo-item {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
	padding: 8px;
	background-color: var(--secondary-color);
	border-radius: 4px;
}

.todo-card ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.navigation-buttons button {
	background-color: #718096;
	border: none;
	color: white;
	padding: 4px 8px;
	margin-left: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.navigation-buttons button:disabled {
	background-color: #4a5568;
	cursor: not-allowed;
}

@media (max-width: 768px) {
	.todo-list {
		grid-template-columns: 1fr; /* 1 column on mobile */
	}
}
